*.min.css
*.min.js
!jquery-*.min.js
*.css.gz
*.js.gz
*.dev.js

/config-*/*.php
!/config-*/*.default.php
!/config-*/pages.php
!/config-*/version.php
!/config-*/datapacks.php
!/config-*/home.buttons.php

/vendor
/res/img/u
