@charset "utf-8";
#eis-sif-header {
    background: #fdfdfb;
}
#eis-sif-nav-home:hover {
    background: #b2dfdb; border-color: #00796b;
    color: #004D40;
}
#eis-sif-nav-related {
    background: #c9caf2; border-color: #3f3cb5;
    color: #2c1c92;
}
#eis-sif-nav-related:hover {
    background: #f0f4c3; border-color: #afb42b;
    color: #827717;
}
#eis-sif-footer a {
    color: #795548;
}
#eis-sif-footer a:hover {
    color: #00695c;
}
.eis-sif-page-button {
    background: #dca7a5; border-color: #a24536;
    color: #a24536;
}
.eis-sif-section {
    background: #fdfdfb;
}
.eis-sif-notice {
    background: #b5c8e1; border-color: #0050a6;
}
.eis-sif-notice a {
    color: #0050a6;
}
.eis-sif-notice a:hover {
    color: #4c82ba;
}
.eis-sif-notice svg {
    color: #002674;
}
.eis-sif-bar a {
    color: #0050a6;
}
.eis-sif-bar a:hover {
    color: #4c82ba;
}
.eis-sif-calendar tbody {
    background: #fdfdfb;
}
.eis-sif-dialog-head {
    border-bottom-color: var(--eis-primary-9);
}

.eis-sif-tag.term-1 { background: #c2185b; }

.category-0 a { color: var(--eis-primary-6); }
.category-0 a:hover { color: var(--eis-primary-4); }

.ui-state-active {
    background: #ffab91; border-color: #e64a19;
    color: #bf360c;
}
.ui-state-active a {
    color: #bf360c;
}
.ui-icon {
    background-image: url("/sif/res/common/jquery/icons/8e2901.png");
}

.ui-tooltip {
    background: #f0e7db;
}
