#g-main .eis-sif-gallery {
    justify-content:flex-start;
    font-size:15px;
}
#g-main[data-gallery-css-view="2"] .eis-sif-gallery {
    font-size:13px;
}
#g-main .eis-sif-gallery>[onclick] {
    cursor:pointer;
}
.accessory-image img {
    height:100px;
}
[data-gallery-css-view="2"] .accessory {
    flex-basis:140px; display:flex; flex-direction:column; align-items:center; padding:2px;
    background:#fff; border:1px solid #bbb;
}
[data-gallery-css-view="2"] .accessory-time {
    display:flex; flex-direction:column; align-items:flex-start;
    font-size:12px;
}
[data-gallery-css-view="2"] .accessory-time .eis-sif-flag {
    position:unset;
}
.accessory-view-2-detail {
    align-self:stretch; display:flex;
}
.accessory-view-2-detail p {
    margin:0;
}
.accessory-view-2-detail .eis-sif-item img, .accessory-view-2-detail .card-unavailable {
    height:50px; margin-bottom:3px; vertical-align:bottom;
}
.accessory-view-2-detail .eis-sif-item.card-seal {
    position:absolute; right:-3px; bottom:-3px;
}
.accessory-view-2-detail .eis-sif-item.card-seal img {
    height:20px;
}
.accessory-view-2-detail-effect {
    flex-grow:1; display:flex; flex-direction:column; align-items:center; justify-content:center;
}
.accessory-view-2-detail-effect img {
    height:16px; margin-right:2px; vertical-align:bottom;
}
#g-main[data-gallery-css-view="3"] .eis-sif-gallery {
    flex-direction:column;
}
[data-gallery-css-view="3"] .accessory {
    padding:5px;
    background:#fff; border:1px solid #bbb;
}
[data-gallery-css-view="3"] .accessory-image {
    float:left; margin-right:10px;
}
[data-gallery-css-view="3"] .accessory-time {
    font-size:13px;
}
[data-gallery-css-view="3"] .accessory-time .eis-sif-flag {
    position:unset;margin-right:10px;
}
.accessory-view-3-card {
    float:right; display:flex; flex-direction:column; align-items:flex-end;
    font-size:13px;
}
.accessory-view-3-card p {
    margin:0;
}
.accessory-view-3-card p img {
    height:16px; margin-right:2px; vertical-align:bottom;
}
.accessory-view-3-card .eis-sif-item img, .accessory-view-3-card .card-unavailable {
    height:50px;
}
.accessory-view-3-card .eis-sif-item.card-seal img {
    height:20px;
}
.accessory-view-3-name {
    margin:5px 0;
    color:#3f3cb5;
    font-size:16px;
}
.accessory-view-3-effect {
    margin:5px 0 0;
    font-size:14px;
}
[data-gallery-css-view="2"] .accessory-group {
    display:flex; align-items:center; padding:2px;
    background:#fff; border:1px solid #bbb;
}
[data-gallery-css-view="2"] .accessory-group>div {
    position:relative;
}
[data-gallery-css-view="2"] .accessory-group-image {
    width:286px; height:166px; vertical-align:bottom;
}
.accessory-view-2-group-effect {
    position:absolute; left:18px; bottom:10px; width:70px; padding:5px 0;
    background:#ffffff99; border-radius:5px;
    text-align:center;
}
.accessory-view-2-group-effect img {
    height:16px; margin-right:2px; vertical-align:bottom;
}
#dialog-accessory-switch {
    display:flex;
}
.accessory-switch {
    display:flex; flex-direction:column; flex-wrap:wrap; margin:0 1px; padding:3px 1px; width:50px;
    background:#eee; border:1px solid #666; border-radius:5px;
}
.accessory-switch.current {
    background:#ffe082; border-color:#ffa000;
}
.accessory-switch:not(.current) {
    cursor:pointer;
}
.accessory-switch img {
    width:100%; vertical-align:bottom;
}
#dialog-accessory-title .accessory-image {
    float:left; margin-right:10px;
}
#dialog-accessory-title-name {
    margin:10px 0 0;
    color:#3f3cb5; border-bottom:1px solid #2c1c92;
}
#dialog-accessory-title-name-translations {
    margin:0 0 10px;
    color:#333;
    font-size:14px;
}
#dialog-accessory-card {
    display:flex; align-items:center;
    font-size:14px;
}
#dialog-accessory-card img, .dialog-accessory-card-unavailable {
    height:50px;
}
#accessory-levels {
    clear:left;
}
.accessory-level {
    display:flex; flex-wrap:wrap; padding:3px;
    font-size:15px;
}
.accessory-level:not(:first-child) {
    border-top:1px dashed #bbb;
}
.accessory-level-caption {
    flex-basis:40px; margin-right:10px;
}
.accessory-level .sif-attr-score-group {
    margin-right:5px;
}
