@charset "utf-8";
h2 {
    text-align: center;
}
#form-initial {
    max-width: 350px;
}
#start {

}
.box-clickable:hover {
    cursor: pointer; text-decoration: underline;
}
#box-time {
    margin-bottom: 10px;
}
#box-rarities {
    display: inline-block;
}
#box-rarities img {
    height: 20px;
}
#box-rarities .highlight th, #box-rarities th.highlight {
    background: #ffd54f; border-color: #ffa000; color: #ff6f00;
}
#box-rarities .highlight td {
    background: #ffecb3;
}
#box-rarities .capacity {
    color: #999; font-size: 12px;
}
#box-currencies {
    float: right;
}
.box-currency {
    display: inline-flex; margin-left: 5px; padding-right: 3px;
    background: #eaeafa; border: 1px solid #8086e0; border-radius: 5px;
    color: #3f3cb5;
}
.box-currency img {
    height: 22px;
}
.box-currency span {
    margin-left: 10px;
}
#box-extra {
    float: left; clear: right;
}
#box-extra .ui-button {
    display: block; margin: 2px 0;
}
#box-series {
    float: right; clear: right;
}
#box-ad {
    clear: right;
    color: #f57c00; font-size: 18px; font-weight: bold; text-align: right;
}
#box-ad em {
    color: #f57c00; font-weight: bold; font-style: normal;
}
#box-ad .eis-sif-note {
    font-weight: normal;
}
#box-selection {
    display: flex; float: left; flex-direction: column; align-items: center;
    color: #4d4fcc; font-weight: bold;
}
.selection-member {
    width: 50px;
}
#box-buttons {
    text-align: right;
}
.box-button-select {
    height: 60px;
    cursor: pointer;
}
#dialog-confirm-scout p, #dialog-result-scout p {
    text-align: center;
}
.dialog-confirm-scout-item {
    height: 18px;
}
#dialog-confirm-scout-cost, #dialog-confirm-scout-pocket {
    display: inline-block; width: 70px;
    color: #e64a19; font-weight: bold; text-align: right;
}
.dialog-scout-stepup-num {
    color: #f00;
}
.dialog-confirm-scout-sheet {
    background: #c9caf2; border: 1px solid #3f3cb5; border-radius: 15px;
    color: #3f3cb5; font-weight: bold;
}
#dialog-confirm-scout-insufficient {
    color: #f00; font-weight: bold;
}
.select-member-option {
    cursor: pointer;
}
.select-member-option.selected {
    border: 3px solid #fb3;
}
.select-member-option.unselected {
    filter: brightness(40%);
}
.dialog-lineup p:not(.eis-sif-note), .lineup-table, #result-table {
    margin: 5px 0;
    font-size: 14px;
}
.dialog-lineup h5 {
    margin: 5px 0;
    font-size: 15px;
}
.dialog-lineup .up {
    color: #f00;
}
.dialog-lineup .event {
    color: #00f;
}
.lineup-table td:nth-child(4)>div, .lineup-table td:nth-child(5)>div, #result-table td:nth-child(2)>div, #result-table td:nth-child(5)>div, #result-table td:nth-child(6)>div {
    display: flex; align-items: center;
}
#result-table td:nth-child(2) img {
    height: 25px;
}
.lineup-table td:nth-child(4) img, #result-table td:nth-child(5) img {
    height: 18px;
}
.lineup-table td:nth-child(5) img, #result-table td:nth-child(6) img {
    height: 28px;
}
.lineup-table .highlight {
    background: #ffecb3;
}
#result {
    display: flex; flex-wrap: wrap; justify-content: center; margin: 0 auto; width: 430px;
}
#result .eis-sif-item {
    display: block; margin: 5px;
}
#result img {
    height: 60px;
}
.sheet-contents {
    width: 290px; margin: 10px auto 0;
    text-align: center;
}
.stamp {
    display: inline-block; position: relative; margin: 0 2px 5px;
}
.stamp.get::before {
    content: "";
    position: absolute; width: 50px; height: 50px;
    background: url("/vio/sif/icon/get-s.png") center/50px;
}
.stamp.new {
    filter: drop-shadow(0 0 15px #ffeb3b);
}
.stamp.new::after {
    content: "";
    position: absolute; width: 36px; height: 14px; left: 0;
    background: url("/vio/sif/icon/s/new.png") center/36px;
}
.stamp img {
    height: 50px;
}
@media (min-width: 1000px) {
    #panel-box-list {
        width: 400px; float: left;
    }
    #panel-box-main {
        margin-left: 450px;
    }
}
#dialog-income-text {
    text-align: center;
}

.sif-box-button {
    margin-top: 20px;
}
.sif-box-button.disabled {
    filter: grayscale(100%);
}
.sif-box-button .ad {
    position: absolute; width: 100%; bottom: 65px; white-space: nowrap;
    background: repeating-linear-gradient(135deg, #ffd 0px, #ffd 10px, #ffa 10px, #ffa 20px); border: 1px solid #bbb; border-radius: 5px;
    color: #e28; font-size: 13px; font-weight: bold; text-align: center;
}
.sif-box-button.stamp-enabled {
    margin-top: 35px;
}
.sif-box-button.stamp-enabled .ad {
    bottom: 80px;
}
.sif-box-button .stamp-notice {
    position: absolute; width: 100px; left: 14px; bottom: 65px;
    background: #f47; border-radius: 10px;
    color: #fff; font-size: 12px; text-align: center;
}
